In [6]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
for num in l:
    print("something!")

something!
something!
something!
something!
something!
something!
something!
something!
something!
something!

In [9]:
for num in l :
    if(num%2 ==0) :
        print(num)
    else :
        print(f"Odd Number : {num}")

Odd Number : 1
2
Odd Number : 3
4
Odd Number : 5
6
Odd Number : 7
8
Odd Number : 9
10

In [11]:
10 / 3

3.3333333333333335

In [12]:
10 % 3

1

In [9]:
18 % 7

4

In [10]:
4 % 2

0

In [13]:
l

[1, 2, 3, 4, 5]

In [20]:
for num in l:
    if((num % 2) == 0):
        print("Here is an even : ", num)
    else:
        print("Here is an odd : ", num)

Here is an odd :  1
Here is an even :  2
Here is an odd :  3
Here is an even :  4
Here is an odd :  5

In [24]:
list_sum = 0

for num in l:
    list_sum += num
    
print(list_sum)

15

In [25]:
s = "this is a string!"

In [26]:
s[::-1]

'!gnirts a si siht'

In [28]:
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [32]:
tup = (1, 2, 3, 4, 5)

for item in tup:
    print(item)

1
2
3
4
5

In [33]:
l = [(2, 4), (6, 8), (10, 12)]

In [34]:
l[0][1]

4

In [35]:
l[0]

(2, 4)

In [36]:
l[2][0]

10

In [37]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [39]:
for (t1, t2) in l:
    print(t1)
    print(t2)

2
4
6
8
10
12

In [40]:
for (t1, t2) in l:
    print(t1-t2)

-2
-2
-2

In [14]:
d = {'k1':1, 'k2':2, 'k3':3}

In [42]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [15]:
for item in d:
    print(item)

k1
k2
k3

In [20]:
for (k, v) in d.items():
    print(k)
    print(v)
    print(k, v)
    print("======")

k1
1
k1 1
======
k2
2
k2 2
======
k3
3
k3 3
======

In [10]:
for letter in "AisGood" : 
    print(letter)

A
i
s
G
o
o
d

In [5]:
for item in d.values():
    print(item)

1
2
3

In [11]:
for _ in d.values():
    print(_)

1
2
3

In [13]:
tup = (1, 3, 4, 5, 6, 7, 8)

for _ in tup : 
    print(_)

1
3
4
5
6
7
8

In [21]:
my_list = [[1, 2, 3], [7, 8, 0], [20, 34, 56]]

In [22]:
for (a,b,c) in my_list :
    print(a)
    print(b)
    print(c)

1
2
3
7
8
0
20
34
56