In [1]:
range(0, 10)

range(0, 10)

In [2]:
range(20)

range(0, 20)

In [3]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for num in range(0, 20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
x = range(0, 10)

In [6]:
x

range(0, 10)

In [7]:
type(x)

range

In [8]:
lis_a = [1, 2, 3]

In [9]:
type(lis_a)

list

In [10]:
lis_a

[1, 2, 3]

In [11]:
x

range(0, 10)

In [12]:
start = 5
stop = 20
range(start, stop)

range(5, 20)

In [17]:
start = 0 #Default
stop = 20


range_a = range(start, stop, 1)

In [18]:
for num in range_a:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
 list(range_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19] == list(range_a)

True

In [21]:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19] == range_a

False

In [2]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [3]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
list(range(0, 20, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
index_count = 0

for letter in "abcde":
    print(f"At index {index_count}, letter = {letter}")
    index_count += 1

At index 0, letter = a
At index 1, letter = b
At index 2, letter = c
At index 3, letter = d
At index 4, letter = e

In [7]:
index_count = 0
word = "abcde"

for letter in word:
    print(f"At index {index_count}, letter = {word[index_count]}")
    index_count += 1

At index 0, letter = a
At index 1, letter = b
At index 2, letter = c
At index 3, letter = d
At index 4, letter = e

In [8]:
word = "abcde"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [10]:
word = "abcde"
for (index, letter) in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [17]:
my_list1 = [1, 2, 3, 4, 5, 6]
my_list2 = ["a", "b", "c"]
my_list3 = [100, 200, 300]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [20]:
my_list1 = [1, 2, 3, 4, 5, 6]
my_list2 = ["a", "b", "c"]
my_list3 = [100, 200, 300]

for (a, b, c) in zip(my_list1, my_list2, my_list3):
    print(a)
    print(b)
    print(c)
    print("\n")

1
a
100


2
b
200


3
c
300

In [21]:
"a" in "a world"

True

In [22]:
"my_key" in {"my_key" : 345}

True

In [23]:
d = {"my_key" : 345}
345 in d.values()

True

In [24]:
d = {"my_key" : 345}
345 in d.keys()

False

In [25]:
my_list = [10, 20, 30, 40, 100]

In [26]:
min(my_list)

10

In [27]:
max(my_list)

100

In [28]:
from random import shuffle

In [30]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
shuffle(my_list)

In [32]:
my_list

[8, 9, 5, 1, 6, 4, 2, 7, 3, 10]

In [33]:
my_list.sort()

In [34]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
shuffle(my_list)

In [36]:
my_list

[10, 5, 4, 9, 6, 8, 1, 2, 3, 7]

In [37]:
from random import randint

In [38]:
randint(0, 100)

0

In [39]:
randint(0, 100)

15

In [40]:
my_num = randint(0, 10)

In [41]:
my_num

4

In [44]:
result = input ("What is your name?")

What is your name?Patrick

In [45]:
result

'Patrick'

In [60]:
result = int(input ("What is your faborite number?"))

What is your faborite number?2

In [61]:
result

2

In [62]:
type(result)

int

In [63]:
float(result)

2.0

In [64]:
int(result)

2

In [65]:
for num in range(5, 10):
    print(num)

5
6
7
8
9